################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BongoFunctions/.vs
/.vs
/BongoFunctions/BongoApplication/bin/Debug/net8.0
/BongoFunctions/BongoApplication/obj
